body{
    background: orange;
    color:purple;
    margin: 0px;
     font-family: "Bitcount Prop Single", system-ui;
}

header{
    border-bottom: solid 2px;
    padding: 20px;
    font-size: 30px;
    color:rgb(42,122,222);
}
section{
background : rgb(200, 245, 0);
padding-bottom : 50px;
padding-top:50px;
display: flex;
justify-content: center;
}

.chamada-text{
    margin-right: 5%;
     display: flex;
     justify-content: center;
}

h1{
    font-size:40px;

}
